.bg{
    padding-bottom: 0 !important;
    background-image: url('../../assets/icon/loginscreen.png') !important;
    height: 100% auto !important;
    // width: 100% !important;
    background-repeat: no-repeat;
    background-image: cover !important;
    background-size: cover !important;
    background-position: center;
    position: fixed ;}