



.btn1{
    position: absolute;
    margin-top: 98%;
    margin-left: 7%;
    width: 86%;
    height: 6%;
    padding-top: 9px;
    padding-bottom: 12px;
}
// ion-button{
//     // position: absolute;
//     // margin-top: 98%;
//     // margin-left: 7%;
//     // width: 86%;
//     // height: 6%;
//     // padding-top: 9px;
//     // padding-bottom: 12px;
//     // background-image: linear-gradient(to right, red , yellow);
//     // --background: linear-gradient(
//     //     to right,
//     //     #133378 0%,
//     //     #2E5080 100%
//     //   );
// }
