<ion-content class="bg">



  <div class="row>">
   <img src="../../assets/icon/back.svg" style="position: absolute;margin-top: 5%;margin-left: 2%;" (click)="back()">
   </div>
 
 
 <div class="row paperless">
   <h1>
     Hello Aswin !</h1>
 
     <h1
     style="color: #153D73;margin-top: 50%;margin-left:1%;">
     Code is sent</h1>
 
     
   <h3
   >
   to +91 1234567890</h3>
 
     </div>
 
     
  
 
  
 
     <div style="margin-top: 90%;position: absolute;" class="ion-text-center">
     <ion-row >
       <ion-col>
        <ion-input class="otp" #otp1 required="true" maxLength="1" >
        </ion-input>
        <ion-input class="otp" #otp2 required="true" maxLength="1" >
        </ion-input>
        <ion-input class="otp" #otp3 required="true" maxLength="1" >
        </ion-input>
   
        <ion-input class="otp" #otp4 required="true" maxLength="1">
       </ion-input>
   
       <ion-input class="otp" #otp5  required="true" maxLength="1" >
       </ion-input>
   
       <ion-input class="otp" #otp6  required="true" maxLength="1" >
       </ion-input>
   
       </ion-col>
     </ion-row>
  
   </div>
 
 
   <div class="btn">
     <img src="../../assets/icon/Group 29.svg"   >
   </div>
   
   
 
      <h6 class="resend">Resend OTP</h6>

 
 
 </ion-content>